In [162]:
import requests
import bs4
import pandas as pd

In [36]:
base_url = "http://books.toscrape.com/catalogue/page-{}.html"

### Select only books with 2 star ratings

In [122]:
two_star_titles = []
two_star_prices = []

for n in range(1,51):
    scrape_url = base_url.format(n)
    res = requests.get(scrape_url)
    soup = bs4.BeautifulSoup(res.text, "lxml")
    
    books = soup.select(".product_pod")

    for book in books:
        if len(book.select(".star-rating.Two")) != 0:
            book_title = book.select("a")[1]['title']
            book_price = book.select(".price_color")[0].getText()[1:]
            two_star_titles.append(book_title)
            two_star_prices.append(book_price)

In [170]:
df = pd.DataFrame({'title': two_star_titles, 'price': two_star_prices})
df.head()

                                            title   price
0  Starving Hearts (Triangular Trade Trilogy, #1)  £13.99
1                    Libertarianism for Beginners  £51.33
2                         It's Only the Himalayas  £45.17
3                                 How Music Works  £37.32
4  Maude (1883-1993):She Grew Up with the country  £18.02

### Select all the books

In [158]:
titles = []
prices = []
stars = []

for n in range(1,51):
    scrape_url = base_url.format(n)
    res = requests.get(scrape_url)
    soup = bs4.BeautifulSoup(res.text, "lxml")
    
    books = soup.select(".product_pod")

    for book in books:

        #rating
        star_rating = book.select_one(".star-rating")
        
        if star_rating:

            #rating
            rating = star_rating.get("class")[1]
            stars.append(rating)

            #title
            book_title = book.select("a")[1]['title']
            titles.append(book_title)

            #price
            book_price = book.select(".price_color")[0].getText()[1:]
            prices.append(book_price)

In [164]:
df = pd.DataFrame({'rating': stars, 'title':titles, 'price': prices})

In [166]:
df.head()

  rating                                  title   price
0  Three                   A Light in the Attic  £51.77
1    One                     Tipping the Velvet  £53.74
2    One                             Soumission  £50.10
3   Four                          Sharp Objects  £47.82
4   Five  Sapiens: A Brief History of Humankind  £54.23