In [2]:
import pandas as pd
import requests
import bs4

In [4]:
base_url = "http://quotes.toscrape.com/page/{}/"

In [222]:
quotes_list = []
authors_list = []
all_tags = []

page = 1

while True:
    res = requests.get(base_url.format(page))
    soup = bs4.BeautifulSoup(res.text, "lxml")

    #check if quotes exists in a page
    quotes = soup.select(".quote")

    if not quotes:
        break

    for quote in quotes:

        #quotes
        q = quote.select(".text")[0].getText()
        quotes_list.append(q)

        #authors
        a = quote.select(".author")[0].getText()
        authors_list.append(a)

        #tags
        tags_list = []
        tags = quote.select(".tag")
        for t in tags:
           tags_list.append(t.getText())

        all_tags.append(tags_list)


    page += 1

In [224]:
df = pd.DataFrame({'quotes':quotes_list, 'authors': authors_list, 'tags': all_tags})
df.head()

,quotes,authors,tags
0,“The world as we have created it is a process ...,Albert Einstein,"[change, deep-thoughts, thinking, world]"
1,"“It is our choices, Harry, that show what we t...",J.K. Rowling,"[abilities, choices]"
2,“There are only two ways to live your life. On...,Albert Einstein,"[inspirational, life, live, miracle, miracles]"
3,"“The person, be it gentleman or lady, who has ...",Jane Austen,"[aliteracy, books, classic, humor]"
4,"“Imperfection is beauty, madness is genius and...",Marilyn Monroe,"[be-yourself, inspirational]"

In [ ]:
#top 10 keywords

In [230]:
res = requests.get(base_url.format(page))
soup = bs4.BeautifulSoup(res.text, "lxml")

In [252]:
top_tags = soup.select(".tag-item")

for tag in top_tags:
    
    t = tag.select(".tag")[0].getText()
    print(t)
    print("\n\n")

love



inspirational



life



humor



books



reading



friendship



friends



truth



simile